/* #1D1D42
#4E2ECF
#6FCC97
#FFFFFF
*/
body{
    margin: 60px 70px 0 70px;
    background-color: #20115a;
    font-family: 'IBM Plex Sans', sans-serif;
}


h3{
    color: #FFFFFF;
}

h1{
    color: #6FCC97;
}


p{
    color: rgb(190, 194, 205)
}



label{
    color: rgb(255, 255, 255);
}



#generate-btn{
    display: block;
    margin: 0px auto;
    background-color: #6FCC97;
    border: none;
    border-radius: 15px;
    padding: 20px 15px;
    margin-top: 30px;
    color: #FFFFFF;
    width: 170px;
}

#passwords{
    display: flex;
    text-align: center;
}

#password1{
    flex: 50%;
    background: #161635;
    color: #6FCC97;
    padding: 20px 0;
    border-radius: 30px;
    border: none;
    margin: 20px 80px;
    font-weight: bolder;
}

#password2{
    flex: 50%;
    background: #1D1D42;
    color: #6FCC97;
    padding: 20px 0;
    border-radius: 30px;
    border: none;
    width: 50px;
    margin: 20px 80px;
    font-weight: bolder;
}

#note{
    text-align: center;
}

#footer{
    background-color: #034fac;
    color: white;
    position: absolute;
    bottom: 0;
    margin: auto auto;
    width: 100%;
    text-align: center;
    margin-left: -70px;
}
#footerLink{
    color: #6FCC97;
}
